// Component: Project
// ============================================================================

.c-project {
    &__bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        transform: scale(1.0125);

        transition: transform 1s cubic-bezier(0.79, 0.67, 0.02, 1);
    }

    &:hover {
        .c-project__bg {
            transform: scale(1.075);
        }
    }
}
