// Default Template
// ===

.t-default {

    [data-ui-component='page-intro-title'] {

        &::after {
            @extend %a-flash;

            content: '';

            display: inline-block;
            width: 0.075em;
            height: 1em;

            background: currentColor;

            transform: translate(-500%, 10%);
        }

        @include media-query($charmeleon) {
            font-size: 3vw;

            transform: translate(-10%, 0);
        }
    }

    [data-ui-component='page-intro-description'] {
        @include media-query($charmeleon) {

            transform: translate(50%, 0);
        }
    }
}
