// Default Template
// ===

.t-default {

    [data-ui-component='homepage-title'] {
        font-size: calc(6vw + 4em);

        transform: translate(1rem, 0);

        @include media-query($content-width) {
            margin-right: -2em;

            transform: translate(0, 0);
        }
    }

    [data-ui-component='homepage-image'] {
        height: 100vh;
    }
}
