// Header
// ===


// Variables
// ---

$small-header-height: $base-unit * 15;
$large-header-height: $base-unit * 20;


// Header Root
// ---

.x-header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    height: $small-header-height;

    background: $neutral-10;
    box-shadow: 0 0.05em 0.25em rgba($neutral-90, 0.15);

    color: $neutral-90;

    transition: top 0.35s ease-in-out;

    @include media-query($charmeleon) {
        height: $large-header-height;
    }

    &.x--up {
        top: -$small-header-height;

        @include media-query($charmeleon) {
            top: -$large-header-height;
        }
    }
}


// Header Home Button
// ---
//
// 1. Hide the expanding border.

.x-header__icon {
    position: absolute;
    top: 50%;

    border: 0 !important;

    &::before,
    &::after {
        display: none; // 1
    }

    &.x--right {
        right: 0;

        transform: translate(0, -50%);
    }

    &.x--middle {
        left: 50%;

        transform: translate(-50%, -50%);

        @include media-query($charmander) {
            opacity: 0.15;

            transform: translate(-65%, -50%);

            pointer-events: none;
        }

    }

    &.x--left {
        left: 0;
        transform: translate(0, -50%);
    }
}

.x-header__icon-button {
    border: 0 !important;
}
