// Header
// ===


// Variables
// ---

$header-height: $base-unit * 20;


// Header Root
// ---

.x-header {
    @extend %clearfix;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    height: $header-height;

    background: linear-gradient(to bottom, rgba($neutral-90, 0.75), rgba($neutral-90, 0));

    color: $neutral-10;

    transition: top 0.5s ease-in-out;

    &.x--up {
        top: -$header-height;
    }
}
