// Header
// ===


// Variables
// ---

$header-height: $base-unit * 20;


// Header Root
// ---

.x-header {
    @extend %clearfix;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    height: $header-height;

    background: $neutral-10;
    box-shadow: 0 0.05em 0.25em rgba($neutral-90, 0.15);

    color: $neutral-90;

    transition: top 0.35s ease-in-out;

    &.x--up {
        top: -$header-height;
    }
}
