// Navigation
// ===
//
// 1. This module is currently comprised of a <ul>, therefore we should reset
//    the spacing values.

.x-navigation__list {
    counter-reset: my-badass-counter;

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0; // 1
    padding: 0; // 1

    font-family: $monospace-font-family;
    list-style: none;
}

.x-navigation__list-item {
    display: flex;
    align-items: center;
    flex: initial;
    width: auto;
    margin: 0 $spacing-unit;

    text-align: center;

    &::before {
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;

        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: $base-unit * 5;
        height: $base-unit * 5;
        margin-right: $base-unit * 2;
        border: 1px solid currentColor;

        opacity: 0.5;
        border-radius: 100%;

        font-size: $very-small-font-size;
        line-height: 1;
    }
}

.x-navigation__link {
    padding: ($base-unit * 2) 0;

    color: $neutral-10;
    text-shadow: 0 1px 1px rgba($neutral-90, 0.5);

    &::before,
    &::after {
        background-color: currentColor;
    }

    &:hover {
        color: $neutral-10;
    }
}
