// Notification
// ===

.x-notification {
    @extend %fixed-full-width;
    bottom: 0;
    z-index: 100;

    display: none;
    padding: ($spacing-unit / 4) ($spacing-unit / 2);

    background-color: rgba(lighten(yellow, 35%), 0.9);

    font-family: $headline-font-family;
    font-size: $small-font-size;
    line-height: 1.25;
    text-align: center;
}
