// Global Typographic Styles
// ============================================================================
//
// 1. Latin glyphs

@font-face {
    font-family: 'sf_mono';
    font-style: normal;
    font-weight: $configure--text-regular;

    src: url('../fonts/sf-mono-light.woff2') format('woff2');
    unicode-range: U+000-5FF; // 1
}

@font-face {
    font-family: 'fakt_pro';
    font-style: normal;
    font-weight: $configure--text-regular;

    src: url('../fonts/fakt-pro-300.woff2') format('woff2');
    unicode-range: U+000-5FF; // 1
}

@font-face {
    font-family: 'fakt_pro';
    font-style: normal;
    font-weight: $configure--text-medium;

    src: url('../fonts/fakt-pro-400.woff2') format('woff2');
    unicode-range: U+000-5FF; // 1
}

body {
    @extend %type-copy;
}

h1 {
    @extend %type-headline;
}

h2 {
    @extend %type-subheadline;
}

h3 {
    @extend %type-title;
}

h4,
h5,
h6 {
    @extend %type-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: map-get($typeface-map, secondary);
    font-weight: map-get($type-weight-map, regular);
    line-height: map-get($leading-map, tight);
    letter-spacing: -0.05em;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

small {
    @extend %type-small;
}

code,
pre {
    font-family: map-get($typeface-map, mono);
}

a {
    text-decoration: none;

    transition: all 0.1s linear;

    &:not(:hover) {
        color: map-get($color-map, link);
    }

    &:hover,
    &:focus {
        background-color: rgba(#e5ef3e, 0.25);

        color: mix(map-get($color-map, link), blue);
    }
}
