// Global Typographic Styles
// ============================================================================
//
// 1. Latin glyphs

h1,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    opacity: 0.9;
}

body {
    @extend %type-copy;
}

h1 {
    @extend %type-headline;
}

h2 {
    @extend %type-subheadline;
}

h3 {
    @extend %type-title;
}

h4,
h5,
h6 {
    @extend %type-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: map-get($type-weight-map, regular);
    line-height: map-get($leading-map, tight);
    letter-spacing: -0.025em;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

small {
    @extend %type-small;
}

code,
pre {
    font-family: map-get($typeface-map, mono);
}

a {
    text-decoration: none;

    &:not(:hover) {
        color: inherit;
    }

    &:hover,
    &:focus {
        background-color: rgba(#e5ef3e, 0.25);

        color: map-get($color-map, link);
    }
}
