// Global Typographic Styles
// ============================================================================

@font-face {
    font-family: 'sf_mono';
    font-style: normal;
    font-weight: $configure--text-weight;

    src: url('../fonts/sf-mono-light.woff2') format('woff2');
}

body {
    @extend %type-copy;

    letter-spacing: -0.0125em;
}

h1 {
    @extend %type-headline;
}

h2 {
    @extend %type-subheadline;
}

h3 {
    @extend %type-title;
}

h4,
h5,
h6 {
    @extend %type-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: map-get($type-weight-map, base);
    line-height: map-get($leading-map, tight);
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

small {
    @extend %type-small;
}

code,
pre {
    font-family: map-get($typeface-map, mono);
}

a {
    text-decoration: none;

    &:not(:hover) {
        color: map-get($color-map, link);
        text-decoration: underline;
    }

    &:hover,
    &:focus {
        background-color: rgba(#e5ef3e, 0.25);

        color: map-get($color-map, link);
    }
}
