header.x-header.u-fixed.u-z-modal.u-bottom-0.u-right-0.u-padding-top-md.u-padding-bottom-md(hidden)

    a.x-header__email.u-context.u-block(href='mailto:ben@bengroulx.com') ben&hairsp;@&hairsp;bengroulx&hairsp;.&hairsp;com
