mixin button(url, title)

    a.c-button.u-rounded-corners.u-border-primary.u-padding-left-md.u-padding-top-sm.u-padding-bottom-sm.u-padding-right-md.u-margin-right-sm.u-margin-bottom-sm(href='#{url}') #{title}
