mixin button(url, title)

    a.c-button.u-rounded-corners.u-border-primary.u-padding-left-md.u-padding-top-md.u-padding-bottom-md.u-padding-right-md.u-margin-right-sm.u-text-medium(href='#{url}') #{title}
