mixin linkBlock(title, year, company, url)

    a.u-block.u-full-width.u-flexbox.u-justify-between.u-align-middle.u-border-bottom-grey.u-padding-top-lg.u-padding-bottom-lg.u-text-tight(href='#{url}') 
        div.u-text-size-large.u-margin-right-lg #{title}
        div.u-align-right.u-half-transparent
            span.u-block.u-text-nowrap.u-text-secondary.u-text-size-small.u-margin-bottom-sm #{year}
            span.u-block.u-text-nowrap.u-text-medium(style='font-size:0.85rem;') #{company}
