mixin linkBlock(url, title, year)

    a.u-block.u-full-width.u-flexbox.u-justify-between.u-align-middle.u-border-bottom-grey.u-padding-top-lg.u-padding-bottom-lg.u-leading-tight(href='#{url}', style='text-decoration:none;') 
        div.u-text-size-large.u-margin-right-lg #{title}
        div.u-half-transparent.u-align-right.u-text-nowrap #{year}
