<footer class="x-footer c-segment u-text-align-center" data-ui-component="site-footer" role="contentinfo">
    <div class="c-contain c--small">

        <div class="c-text-content" data-ui-component="site-footer-content">
            <p data-ui-component="site-footer-description">
                {{ site.description }}
                Copyright 2016.
            </p>

            <a class="u-margin-left-sm u-margin-right-sm" href="https://twitter.com/{{ site.username }}">
                <span data-ui-component="icon" class="c-icon c--twitter">{% include icon-twitter.svg %}</span>
                <span data-ui-component="label">{{ include.username }}</span>
            </a>

            <a class="u-margin-left-sm u-margin-right-sm" href="https://github.com/{{ site.username }}">
                <span data-ui-component="icon" class="c-icon c--github">{% include icon-github.svg %}</span>
                <span data-ui-component="label">{{ include.username }}</span>
            </a>

            <a class="u-margin-left-sm u-margin-right-sm" href="https://instagram.com/{{ site.username }}">
                <span data-ui-component="icon" class="c-icon c--instagram">{% include icon-instagram.svg %}</span>
                <span data-ui-component="label">{{ include.username }}</span>
            </a>

            <a class="u-margin-left-sm u-margin-right-sm" href="https://linkedin.com/in/{{ site.username }}">
                <span data-ui-component="icon" class="c-icon c--linkedin">{% include icon-linkedin.svg %}</span>
                <span data-ui-component="label">{{ include.username }}</span>
            </a>
        </div>

    </div>
</footer>

<aside class="x-notification" data-ui-component="site-notification" role="banner">
    This site is currently in active development. Many things will be broken!
</aside>
