<header class="x-header c-segment c--no-padding" data-ui-component="site-header" role="banner">
    <div class="c-contain">

        <a class="x-header__home" href="/">
            <button type="button" class="c-button x-header__home-button">
                <span data-ui-component="icon" class="c-icon c--medium">{% include icon-home.svg %}</span>
                <span data-ui-component="label" class="u-visually-hidden">Return Home</span>
            </button>
        </a>

        <h1 data-ui-component="site-title" hidden>
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>

        <nav class="x-navigation" data-ui-component="site-nav" role="navigation">
            <ul class="x-navigation__list" data-ui-component="site-nav-links">
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li class="x-navigation__list-item">
                            <a class="x-navigation__link" data-ui-component="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

    </div>
</header>
