<head>

    <!-- GENERAL STUFF -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="320" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- SITE/PAGE INFO -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="google-site-verification" content="tjwlg8Q7I3CmF58-9XruF1_DkX8qTxEUmc0uq-Da4Aw" />
    <meta name="google-site-verification" content="rCvHQ0fTKBNbi7CBf3tZMp8uB4IjaU7S3NmUmgvfErY" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="UI, UX, Design, Designer, Front-End, HTML, CSS" />
    <meta name="author" content="Ben Groulx" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- BROWSER SPECIFICS -->
    <!--[if IEMobile]> <meta http-equiv="cleartype" content="on" /> <![endif]-->
    <!--[if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script> <![endif]-->

    <!-- STYLES -->
    <link rel="stylesheet" href="{{ '/css/screen.css' | prepend: site.baseurl }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- LIBRARIES -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- ICONS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title"   content="Ben Groulx" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/icons/apple-icon-57.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/icons/apple-icon-60.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/icons/apple-icon-72.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/icons/apple-icon-76.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/icons/apple-icon-114.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/icons/apple-icon-120.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/icons/apple-icon-144.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/icons/apple-icon-152.png' | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-icon-180.png' | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/icons/android-icon-192.png' | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32.png' | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/icons/favicon-96.png' | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16.png' | prepend: site.baseurl }}" />
    <meta name="msapplication-TileImage" content="{{ '/assets/icons/ms-icon-144.png' | prepend: site.baseurl }}" />
    <meta name="msapplication-TileColor" content="#121b92" />

    <!-- SCRIPTS -->
    <script async src="{{ "/js/fade-in.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/js/header-pull.js" | prepend: site.baseurl }}"></script>

    <!-- HIDE FOR NOW -->
    <meta name="robots" content="noindex, nofollow">

</head>
