:root {
    --color-black: #54657f;
    --color-grey: #f9f9fa;
    --color-white: #fff;
    --color-blue: #00f;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --space-xs: 0.2em;
    --space-sm: 0.5em;
    --space-md: 1em;
    --space-lg: 3em;
    --unit-sm: 0.5rem;
    --unit-md: 1rem;
    --unit-lg: 3rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Founders Grotesk', serif, -apple-system, BlinkMacSystemFont, 'Roboto', 'Apple Color Emoji', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: calc(var(--unit-md) * 1.25);
    line-height: 1.4;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

strong {
    font-weight: var(--font-weight-bold);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-bottom: -0.25em;
    transition: 100ms ease-out;
    transform: scale(0.95);
    border-bottom: 1px solid transparent;
}

a:hover,
a:active {
    color: var(--color-blue);
    transform: scale(1) rotate(-2deg) !important;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.global-content,
.global-footer {
    padding: 10vh var(--space-md);
    border-bottom: 0.25rem solid var(--color-grey);
}

.global-content {
    min-height: 100vh;
}

.global-footer {
    text-align: center;
}

.global-footer a {
    display: inline-block;
    transform: scale(0.8);
}

.message {
    position: relative;
    margin-top: var(--space-sm);
    padding: var(--space-md) var(--space-md) 0.6em;
    border-radius: var(--space-md);
    background-color: var(--color-grey);
}

.message::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.9em;
    width: 0;
    height: 0;
    border: var(--unit-md) solid transparent;
    border-right-color: var(--color-grey);
    border-left: 0;
    border-bottom: 0;
    margin-left: calc(var(--unit-md) * -1);
}

.responding {
    height: var(--unit-md);
    margin-top: var(--space-lg);
}

.dot-container {
    display: flex;
}

.dot {
    width: var(--unit-md);
    height: var(--unit-md);
    margin-right: var(--space-xs);
    border-radius: 50%;
    background-color: var(--color-black);
}


@media screen and (min-width: 40em) {
    .page-content {
        width: 30em;
        margin: 0 auto;
    }

    .message {
        max-width: 80%;
        padding: 1.25em 1.25em var(--space-md);
    }
}


@supports (animation-name:FadeIn) {

    .global-content {
        display: flex;
        align-items: flex-end;
        opacity: 0;
        animation: FadeIn 500ms forwards;
    }

    .message {
        display: none;
        animation: FadeIn-BounceUp 1s forwards;
    }

    .dot {
        display: block;
        opacity: 0;
        animation: FadeIn-ScaleUp 900ms infinite;
    }

    .dot:nth-child(1) {}

    .dot:nth-child(2) {
      animation-delay: 300ms;
    }

    .dot:nth-child(3) {
      animation-delay: 600ms;
    }

    @keyframes FadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes FadeIn-BounceUp {
        0% {
            opacity: 0;
            transform: translate(0, var(--space-md));
        }
        50% {
            transform: translate(0, 0);
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes FadeIn-ScaleUp {
        0%,
        100% {
            opacity: 0.1;
            transform: scale(0.7);
        }
        50% {
            opacity: 0.2;
            transform: scale(0.75);
        }
    }
}
