:root {
    --black: #16162f;
    --white: #fff;
    --grey: rgba(245, 245, 255, 0.25);
    --green: rgba(30, 210, 160, 0.25);
    --blue: rgba(85, 160, 255, 0.25);
    --purple: rgba(70, 70, 210, 0.25);
    --pink: rgba(240, 100, 200, 0.25);
    --red: rgba(255, 110, 110, 0.25);
    --orange: rgba(255, 160, 70, 0.25);
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --space-md: 5vh;
    --space-lg: 10vh;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

html,
body,
.global-content {
    height: 100%;
}

body {
    overflow: hidden;

    background-color: var(--white);

    color: var(--black);
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: 1.2em;
    line-height: 1.6;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.global-content {
    overflow: hidden;
    max-width: 100vw;
}

.global-content::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
    pointer-events: none;
}

.global-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    font-size: 0.85em;
    padding: 5vw;
    text-align: center;
}

.global-footer li {
    display: inline-block;
    margin-left: 1em;
}

.page-content {
    margin-top: 5vh;
    margin-right: auto;
    margin-bottom: 5vh;
    margin-left: auto;
    padding-right: 5vw;
    padding-left: 5vw;
}

.page-content > * {
    margin-bottom: 1em;
}

a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
}

ul {
    list-style: none;
}

strong {
    font-weight: var(--font-weight-bold);
}

.list {
    position: relative;

    opacity: 0.5;
    white-space: nowrap;
}

.list::before {
    content: "";

    position: absolute;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
}

.list strong {
    opacity: 0.5;

    font-size: 0.8em;
    letter-spacing: 0.05em;
}

.bg-purple {
    background-color: var(--purple);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-red {
    background-color: var(--red);
}

.m-t-md {
    margin-top: var(--space-md);
}

.m-b-md {
    margin-bottom: var(--space-md);
}

.m-t-lg {
    margin-top: var(--space-lg);
}

.m-b-lg {
    margin-bottom: var(--space-lg);
}

.visually-hidden {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

@media screen and (max-width: 30em) {
    .global-footer li:nth-child(even){
        display: none;
    }
}

@media screen and (min-width: 30em) {
    body {
        font-size: 1em;
    }
    .list {
        columns: 2;
    }
}

@media screen and (min-width: 50em) {
    .global-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40em;
        margin: 0 auto;
        padding-right: 0 0 15vh;
    }
}

@media screen and (min-width: 80em) {
    .global-footer {
        padding-bottom: 5vh;
    }
}
