:root {
    --color-black: #222;
    --color-white: #c0cbce;
    --color-grey: #666;
    --color-blue: #adbfdb;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --space-xs: 0.2em;
    --space-sm: 0.5em;
    --space-md: 1em;
    --space-lg: 3em;
    --unit-sm: 0.5rem;
    --unit-md: 1rem;
    --unit-lg: 3rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Arno Pro', 'Arno-Pro', 'Times New Roman', serif, 'Apple Color Emoji';
    font-weight: var(--font-weight-normal);
    font-size: calc(var(--unit-md) * 1.4);
    line-height: 1.4;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "liga", "clig";
       -moz-font-feature-settings: "liga", "clig";
            font-feature-settings: "liga", "clig";
    font-variant-numeric: oldstyle-nums;
    -webkit-font-feature-settings: "onum";
       -moz-font-feature-settings: "onum";
            font-feature-settings: "onum";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

a span {
    text-decoration: underline;
    transition: 100ms ease-out;
}

.smcp {
    font-variant-caps: all-small-caps;
    -webkit-font-feature-settings: "c2sc", "smcp";
    -moz-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
}

.global-content,
.global-footer {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    padding-bottom: 10vh;
}

.global-content {
    padding-top: 10vh;
}

.global-footer a {
    padding: var(--space-xs);
}

.page-content p {
  margin-bottom: var(--space-md);
}

@media screen and (min-width: 35em) {
    .global-content,
    .global-footer {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .page-content {
        max-width: 25em;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-black);
        color: var(--color-white);
    }
    a span {
        text-decoration-color: var(--color-grey);
        color: var(--color-blue);
    }
    a:hover span,
    a:active span {
        text-decoration-color: var(--color-blue);
        color: var(--color-white);
    }
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    a span {
        text-decoration-color: var(--color-grey);
        color: var(--color-black);
    }
    a:hover span,
    a:active span {
        text-decoration-color: var(--color-blue);
        color: var(--color-black);
    }
}
