.x-header {
    font-size: 0.85rem;

    @include --small-up {
        transform: rotate(90deg);
        transform-origin: top right;
        backface-visibility: hidden;
    }

    &__email {
        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: -2.5rem;

            display: block;
            width: var(--size-lg);
            height: 1px;

            background: currentColor;

            transition: all 0.5s var(--whoosh);
        }

        @include --small-up {
            &:hover::before {
                left: calc(-200% - var(--size-sm));

                width: 200%;
            }
        }
    }
}

.x-job-last {
    @include --large-up {
        transform: translateX(50%);
    }
}

.x-article-second {
    @include --medium-up {
        transform: translateY(50%);
    }
}

.x-article-last {
    @include --medium-up {
        transform: translateY(-50%);
    }
}

.x-project-small-image {
    @include --medium-up {
        transform:translate(-50%, 40%);
    }
}
