// Component: Link Block
// ============================================================================

.c-link-block {
    &,
    &__overlay {
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;

        transition: all 0.1s ease-out;
    }

    @media (min-width: 60rem) {
        &:hover {
            padding-right: 3%;
            padding-left: 3%;
            border: 1px solid map-get($color-map, primary);

            background: map-get($color-map, secondary);

            transform: translate(0, -2px);

            ~ .c-link-block__overlay {
                opacity: 0.3 !important;
            }
        }
    }
}
