// Background Utilities
// ===

.u-background-white {
    background-color: $neutral-10 !important;
}

.u-background-grey {
    background-color: $neutral-30 !important;
}

.u-background-black {
    background-color: $neutral-90 !important;
}

.u-background-transparent {
    background-color: transparent !important;
}
