// Margin Utilities
// ===


// Margin: Top
// ---

.u-margin-top-none {
    margin-top: 0 !important;
}

.u-margin-top-tiny {
    margin-top: $base-unit !important;
}

.u-margin-top-small {
    margin-top: $base-unit*2 !important;
}

.u-margin-top {
    margin-top: $base-unit*4 !important;
}

.u-margin-top-large {
    margin-top: $base-unit*6 !important;
}

.u-margin-top-very-large {
    margin-top: $base-unit*8 !important;
}


// Margin: Bottom
// ---

.u-margin-bottom-none {
    margin-bottom: 0 !important;
}

.u-margin-bottom-tiny {
    margin-bottom: $base-unit !important;
}

.u-margin-bottom-small {
    margin-bottom: $base-unit*2 !important;
}

.u-margin-bottom {
    margin-bottom: $base-unit*4 !important;
}

.u-margin-bottom-large {
    margin-bottom: $base-unit*6 !important;
}

.u-margin-bottom-very-large {
    margin-bottom: $base-unit*8 !important;
}


// Margin: Start
// ---

.u-margin-start-none {
    margin-left: 0 !important;
}

.u-margin-start-tiny {
    margin-left: $base-unit !important;
}

.u-margin-start-small {
    margin-left: $base-unit*2 !important;
}

.u-margin-start {
    margin-left: $base-unit*4 !important;
}

.u-margin-start-large {
    margin-left: $base-unit*6 !important;
}

.u-margin-start-very-large {
    margin-left: $base-unit*8 !important;
}


// Margin: End
// ---

.u-margin-end-none {
    margin-right: 0 !important;
}

.u-margin-end-tiny {
    margin-right: $base-unit !important;
}

.u-margin-end-small {
    margin-right: $base-unit*2 !important;
}

.u-margin-end {
    margin-right: $base-unit*4 !important;
}

.u-margin-end-large {
    margin-right: $base-unit*6 !important;
}

.u-margin-end-very-large {
    margin-right: $base-unit*8 !important;
}


// Margin: None
// ---

.u-margin-none {
    margin: 0 !important;
}
