// Margin Utilities
// ===


// Margin: All
// ---

.u-margin-all-none {
    margin: 0;
}

.u-margin-all-tiny {
    margin: $base-unit;
}

.u-margin-all-small {
    margin: $base-unit*2;
}

.u-margin-all {
    margin: $base-unit*4;
}

.u-margin-all-large {
    margin: $base-unit*8;
}

.u-margin-all-very-large {
    margin: $base-unit*16;
}


// Margin: Top
// ---

.u-margin-top-none {
    margin-top: 0;
}

.u-margin-top-tiny {
    margin-top: $base-unit;
}

.u-margin-top-small {
    margin-top: $base-unit*2;
}

.u-margin-top {
    margin-top: $base-unit*4;
}

.u-margin-top-large {
    margin-top: $base-unit*8;
}

.u-margin-top-very-large {
    margin-top: $base-unit*16;
}


// Margin: Bottom
// ---

.u-margin-bottom-none {
    margin-bottom: 0;
}

.u-margin-bottom-tiny {
    margin-bottom: $base-unit;
}

.u-margin-bottom-small {
    margin-bottom: $base-unit*2;
}

.u-margin-bottom {
    margin-bottom: $base-unit*4;
}

.u-margin-bottom-large {
    margin-bottom: $base-unit*8;
}

.u-margin-bottom-very-large {
    margin-bottom: $base-unit*16;
}


// Margin: Start
// ---

.u-margin-start-none {
    margin-left: 0;
}

.u-margin-start-tiny {
    margin-left: $base-unit;
}

.u-margin-start-small {
    margin-left: $base-unit*2;
}

.u-margin-start {
    margin-left: $base-unit*4;
}

.u-margin-start-large {
    margin-left: $base-unit*8;
}

.u-margin-start-very-large {
    margin-left: $base-unit*16;
}


// Margin: End
// ---

.u-margin-end-none {
    margin-right: 0;
}

.u-margin-end-tiny {
    margin-right: $base-unit;
}

.u-margin-end-small {
    margin-right: $base-unit*2;
}

.u-margin-end {
    margin-right: $base-unit*4;
}

.u-margin-end-large {
    margin-right: $base-unit*8;
}

.u-margin-end-very-large {
    margin-right: $base-unit*16;
}
