// Padding Utilities
// ===


// Padding: Top
// ---

.u-padding-top-none {
    padding-top: 0;
}

.u-padding-top-tiny {
    padding-top: $base-unit;
}

.u-padding-top-small {
    padding-top: $base-unit*2;
}

.u-padding-top {
    padding-top: $base-unit*4;
}

.u-padding-top-large {
    padding-top: $base-unit*8;
}

.u-padding-top-very-large {
    padding-top: $base-unit*16;
}


// Padding: Bottom
// ---

.u-padding-bottom-none {
    padding-bottom: 0;
}

.u-padding-bottom-tiny {
    padding-bottom: $base-unit;
}

.u-padding-bottom-small {
    padding-bottom: $base-unit*2;
}

.u-padding-bottom {
    padding-bottom: $base-unit*4;
}

.u-padding-bottom-large {
    padding-bottom: $base-unit*8;
}

.u-padding-bottom-very-large {
    padding-bottom: $base-unit*16;
}


// Padding: Start
// ---

.u-padding-start-none {
    padding-left: 0;
}

.u-padding-start-tiny {
    padding-left: $base-unit;
}

.u-padding-start-small {
    padding-left: $base-unit*2;
}

.u-padding-start {
    padding-left: $base-unit*4;
}

.u-padding-start-large {
    padding-left: $base-unit*8;
}

.u-padding-start-very-large {
    padding-left: $base-unit*16;
}


// Padding: End
// ---

.u-padding-end-none {
    padding-right: 0;
}

.u-padding-end-tiny {
    padding-right: $base-unit;
}

.u-padding-end-small {
    padding-right: $base-unit*2;
}

.u-padding-end {
    padding-right: $base-unit*4;
}

.u-padding-end-large {
    padding-right: $base-unit*8;
}

.u-padding-end-very-large {
    padding-right: $base-unit*16;
}


// Padding: None
// ---

.u-padding-none {
    padding: 0;
}
