// Shadow Utilities
// ===


// Box Shadow
// ---

.u-small-box-shadow {
    box-shadow: $small-shadow;
}

.u-base-box-shadow {
    box-shadow: $base-shadow;
}

.u-large-box-shadow {
    box-shadow: $large-shadow;
}

.u-no-box-shadow {
    box-shadow: none;
}


// Text Shadow
// ---

.u-small-text-shadow {
    text-shadow: $small-shadow;
}

.u-base-text-shadow {
    text-shadow: $base-shadow;
}

.u-large-text-shadow {
    text-shadow: $large-shadow;
}

.u-no-text-shadow {
    text-shadow: none;
}
