// Text Utilities
// ===


// Text Sizes
// ---

.u-text-very-small {
    font-size: $very-small-font-size;
}

.u-text-small {
    font-size: $small-font-size;
}

.u-text-default {
    font-size: $base-font-size;
}

.u-text-large {
    font-size: $large-font-size;
}

.u-text-very-large {
    font-size: $very-large-font-size;
}


// Text Weights
// ---

.u-text-weight-100,
.u-text-weight-200,
.u-text-weight-light {
    font-weight: $light-font-weight;
}

.u-text-weight-300,
.u-text-weight-400,
.u-text-weight-500,
.u-text-weight-600,
.u-text-weight-normal,
.u-text-weight-default {
    font-weight: $base-font-weight;
}

.u-text-weight-700,
.u-text-weight-800,
.u-text-weight-900,
.u-text-weight-bold {
    font-weight: $bold-font-weight;
}


// Text Alignment
// ---

.u-text-align-center {
    text-align: center;
}

.u-text-align-start {
    text-align: left;
}

.u-text-align-right {
    text-align: right;
}


// Text Letter Transforms
// ---

.u-text-capitalize {
    text-transform: capitalize;
}

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-lowercase {
    text-transform: lowercase;
}

.u-text-transform-initial {
    text-transform: initial;
}


// Text Tracking
// ---

.u-text-tracked-out {
    letter-spacing: 0.125em;
}

.u-text-tracked-out-loose {
    letter-spacing: 0.25em;
}

.u-text-tracked-in {
    letter-spacing: -0.125em;
}


// Text Line Lengths
// ---
//
// Prevent text from wrapping onto multiple lines, and truncate with ellipsis.
//
// 1. Ensure that the node has a maximum width after which truncation can occur.

.u-text-truncate {
    overflow: hidden;
    max-width: 100%; // 1

    white-space: nowrap;
    text-overflow: ellipsis;
}

.u-text-nowrap,
.u-text-no-wrap {
    white-space: nowrap;
}


// Text Line Heights
// ---
//
// Typically use this to remove unwanted white-space around things like images
// or other non-text assets.

.u-text-collapse {
    line-height: 0;
}

.u-text-line-reset {
    line-height: 1;
}

.u-text-line-base {
    line-height: $base-line-height;
}
