include includes/_c-button

script var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

header.u-margin-bottom-lg
    div.c-text-content
        a.u-text-medium(href='/', style='font-size:0.75rem;') Home

section.u-margin-bottom-massive
    div.c-text-content.u-measure-medium
        h1 Hello! 👋
        p.u-text-medium Hi there, hope you’re having a great #[script document.write(weekdays[new Date().getDay()]);]#[noscript day]. Below you’ll find some selected work of mine from the past few years. This is a visual portfolio; it does not detail process, nor do I mention why my solutions worked out. If there is a particular project you would like to know more about, or if I can provide you any additional context or information, you can reach me #[a.u-text-nowrap(href='#contact') at the bottom]. 
        p.u-text-size-small.u-color-grey.u-text-secondary – Ben Groulx

section.u-margin-bottom-massive.u-align-center(style='max-width:80rem;')
    
    div.c-project.c--01.u-border-bottom-grey.js-loaded(style='height:calc(90vw * 1300 / 1840);')
    div.c-project.c--02.u-margin-bottom-md.js-loaded(style='height:calc(90vw * 1300 / 1840);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Kost
        li Product Design
        li 2017
    
    div.c-project.c--03.u-margin-bottom-md(style='height:calc(90vw * 4577 / 1840);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Mobify
        li Landing Page Design
        li 2017

    div.c-project.c--04.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--05.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Lancôme USA
        li Progressive Web App Design
        li 2016-2017

    div.c-project.c--06.u-margin-bottom-md(style='height:calc(90vw * 1800 / 1800);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Various Logos
        li Graphic Design
        li Ongoing

    div.c-project.c--07.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Babista (Checkout Flow)
        li Progresive Web App Design
        li 2017

    div.c-project.c--08.u-margin-bottom-md(style='height:calc(90vw * 1144 / 1720);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Lawn Party Films
        li Responsive Web Design
        li 2016–2017

    div.c-project.c--09.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Chasing Fireflies
        li Mobile Web Design
        li 2016

    div.c-project.c--10.u-margin-bottom-md(style='height:calc(90vw * 2516 / 1800);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Forty-Five Degrees
        li Graphic Design
        li 2012

    div.c-project.c--11.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--12.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--13.u-margin-bottom-md(style='height:calc(90vw * 1529 / 1853);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Fort St. John Public Library
        li Resonsive Web Design Design
        li 2014

    div.c-project.c--14.u-margin-bottom-md(style='height:calc(90vw * 335 / 1200);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Leap 4 Your Life
        li Graphic Design
        li 2013

    div.c-project.c--15.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--16.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--17.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Tourism Pemberton
        li Responsive Web Design
        li 2015

    div.c-project.c--18.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--19.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Snow Valley
        li Responsive Web Design
        li 2014

    div.c-project.c--20.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')
    div.c-project.c--21.u-border-bottom-grey(style='height:calc(90vw * 1055 / 1700);')   
    div.c-project.c--22.u-margin-bottom-md(style='height:calc(90vw * 1055 / 1700);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Pemberton Chamber of Commerce
        li Responsive Web Design
        li 2014

    div.c-project.c--23.u-margin-bottom-md(style='height:calc(90vw * 577 / 1450);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Volūm (Concept)
        li App Design
        li 2013

    div.c-project.c--24.u-margin-bottom-md(style='height:calc(90vw * 584 / 960);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold Custom Fit Online
        li Graphic Design
        li 2013–2015

    div.c-project.c--25.u-margin-bottom-md(style='height:calc(90vw * 1773 / 1713);')
    ul.u-align-left.u-text-size-small.u-text-tight.u-margin-bottom-lg 
        li.u-text-bold British Columbia Sustainable Energy Association
        li Web Design
        li 2013

section.u-margin-bottom-massive#contact
    h2.u-semi-transparent.u-text-size-large.u-margin-bottom-lg 
        | ## Let’s Sync
    div.c-text-content.u-measure-wide
        +button('mailto:ben@bengroulx.com', 'Email')
        +button('https://m.me/bengroulx', 'Messenger')
        +button('https://linkedin.com/in/bengroulx', 'LinkedIn')
        +button('https://twitter.com/bengroulx', 'Twitter')
        +button('https://github.com/bengroulx', 'GitHub')
        +button('https://instagram.com/bengroulx', 'Instagram')
        +button('https://vsco.co/bengroulx', 'VSCO')
        +button('https://medium.com/@bengroulx', 'Medium')
        +button('https://open.spotify.com/user/bengroulx', 'Spotify')

style.
    .c-project.c--01.js-loaded { background-image:url("assets/images/portfolio/kost--desktop.s1.jpg"); }
    .c-project.c--02.js-loaded { background-image:url("assets/images/portfolio/kost--desktop.s2.jpg"); }
    .c-project.c--03.js-loaded { background-image:url("assets/images/portfolio/mobify--landing-page.jpg"); }
    .c-project.c--04.js-loaded { background-image:url("assets/images/portfolio/lancome--mobile.v1.jpg"); }
    .c-project.c--05.js-loaded { background-image:url("assets/images/portfolio/lancome--mobile.v2.jpg"); }
    .c-project.c--06.js-loaded { background-image:url("assets/images/portfolio/logos.jpg"); }
    .c-project.c--07.js-loaded { background-image:url("assets/images/portfolio/babista--mobile.jpg"); }
    .c-project.c--08.js-loaded { background-image:url("assets/images/portfolio/lawn-party-films--desktop.jpg"); }
    .c-project.c--09.js-loaded { background-image:url("assets/images/portfolio/chasing-fireflies--mobile.jpg"); }
    .c-project.c--10.js-loaded { background-image:url("assets/images/portfolio/forty-five--book.jpg"); }
    .c-project.c--11.js-loaded { background-image:url("assets/images/portfolio/fsjpl--desktop.jpg"); }
    .c-project.c--12.js-loaded { background-image:url("assets/images/portfolio/fsjpl--mobile.jpg"); }
    .c-project.c--13.js-loaded { background-image:url("assets/images/portfolio/fsjpl--wireframes.jpg"); }
    .c-project.c--14.js-loaded { background-image:url("assets/images/portfolio/leap-4-your-life--epk.jpg"); }
    .c-project.c--15.js-loaded { background-image:url("assets/images/portfolio/tourism-pemberton--desktop.v1.jpg"); }
    .c-project.c--16.js-loaded { background-image:url("assets/images/portfolio/tourism-pemberton--desktop.v2.jpg"); }
    .c-project.c--17.js-loaded { background-image:url("assets/images/portfolio/tourism-pemberton--mobile.jpg"); }
    .c-project.c--18.js-loaded { background-image:url("assets/images/portfolio/snow-valley--desktop.jpg"); }
    .c-project.c--19.js-loaded { background-image:url("assets/images/portfolio/snow-valley--mobile.jpg"); }
    .c-project.c--20.js-loaded { background-image:url("assets/images/portfolio/pemberton-chamber--desktop.v1.jpg"); }
    .c-project.c--21.js-loaded { background-image:url("assets/images/portfolio/pemberton-chamber--desktop.v2.jpg"); }
    .c-project.c--22.js-loaded { background-image:url("assets/images/portfolio/pemberton-chamber--mobile.jpg"); }
    .c-project.c--23.js-loaded { background-image:url("assets/images/portfolio/volum--app.jpg"); }
    .c-project.c--24.js-loaded { background-image:url("assets/images/portfolio/custom-fit-online--books.jpg"); }
    .c-project.c--25.js-loaded { background-image:url("assets/images/portfolio/bcsea--desktop.jpg"); }

script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

script.
    function update_offsets(){$('.c-project').each(function(){var a=$(this).offset().top;lh.push(a)})}function lazy(){for(wscroll=$(window).scrollTop(),i=0;i<lh.length;i++)lh[i]<=wscroll+(wh-100)&&$('.c-project').eq(i).addClass("js-loaded")}var ll=$('.c-project'),lh=[],wscroll=0,wh=$(window).height();update_offsets(),lazy(),$(window).on("scroll",function(){lazy()});
