include includes/_c-button
include includes/_c-link-block

section.t-home--section
    //-
        picture.u-margin-bottom-lg.u-block(style='padding-bottom(calcbackground:url("assets/images/illustration--small.jpg") center center;')
            source(srcset='assets/images/illustration--small.jpg', media='(max-width:800px)')
            source(srcset='assets/images/illustration--large.png')
            img.u-block.t-home--hero-img(src='assets/images/illustration--small.jpg', alt='Skull and snake collage')
    h1.u-margin-bottom-lg Ben Groulx is a #[span(style='text-decoration:line-through;') user interface] designer.
    div.c-text-content.u-measure-medium.u-text-medium(style='max-width:40rem;')
        p
            | Hey there 👋. I’m Ben, a Vancouver-based  designer 💯 focused on the intersection of interaction and graphic design, with experience in design systems 🔗, front-end architecture 🖥, and feedback processes 💬.
        p
            | With 
            a(href='http://mobify.com/') Mobify
            |  📱 I design and implement functional mobile experiences for global ecommerce brands; With 
            a(href='http://house-house.design') House House
            |  ✍🏼 I design accessible and sophisticated screen, print, and motion products; With 
            a(href='http://bitchpopproductions.com/') Bitchpop Productions
            |  💁🏻 I help create, promote, and uplift female-driven short films and webseries.
        p
            | I’d love to to chat and/or work with you 💖. You can 
            a(href='mailto:ben@bengroulx.com?subject=I%20would%20like%20to%20hire%20you!') hire me
            |  💸 to help you with art direction, UI design, and web development 😎.

section.t-home--section
    h2.u-semi-transparent.u-text-size-large.u-margin-bottom-lg
        | ## Work
    ul.u-border-top-grey.u-context(style='list-style:none;')
        li
            +linkBlock('Lancôme USA', '2016', 'Mobify', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2016--lancome-usa.md',
            'assets/images/lancome.jpg')
        li
            +linkBlock('housecss', 'ongoing', 'House House', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2016--housecss.md',
            'assets/images/housecss.jpg')
        li
            +linkBlock('Chasing Fireflies', '2016', 'Mobify', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2016--chasing-fireflies.md',
            'assets/images/chasing-fireflies.jpg')
        li
            +linkBlock('Bitchpop Productions', 'ongoing', 'House House', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2015--bitchpop-productions.md',
            'assets/images/bitchpop.jpg')
        li
            +linkBlock('Ask Will', '2016', 'House House', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2016--ask-will.md',
            'assets/images/ask-will.jpg')
        li
            +linkBlock('Tourism Pemberton', '2015', 'Custom Fit Online', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2015--tourism-pemberton.md',
            'assets/images/tourism-pemberton.jpg')
        li
            +linkBlock('Fort St. John Public Library', '2014', 'Custom Fit Online', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2014--fort-st-john-public-library.md',
            'assets/images/fsjpl.jpg')
        li
            +linkBlock('Snow Valley (Barrie)', '2014', 'Custom Fit Online', 'https://github.com/bengroulx/bengroulx.com/blob/portfolio/projects/2014--snow-valley.md',
            'assets/images/snow-valley.jpg')

section.t-home--section
    h2.u-semi-transparent.u-text-size-large.u-margin-bottom-lg 
        | ## Let’s Sync
    div.c-text-content.u-measure-wide
        +button('mailto:ben@bengroulx.com', 'Email')
        +button('https://m.me/bengroulx', 'Messenger')
        +button('https://linkedin.com/in/bengroulx', 'LinkedIn')
        +button('https://twitter.com/bengroulx', 'Twitter')
        +button('https://github.com/bengroulx', 'GitHub')
        +button('https://instagram.com/bengroulx', 'Instagram')
        +button('https://vsco.co/bengroulx', 'VSCO')
        +button('https://medium.com/@bengroulx', 'Medium')
        +button('https://open.spotify.com/user/bengroulx', 'Spotify')
