include includes/_c-button

section.u-margin-bottom-massive
    //-
        picture.u-margin-bottom-lg.u-block(style='padding-bottom(calcbackground:url("assets/images/illustration--small.jpg") center center;')
            source(srcset='assets/images/illustration--small.jpg', media='(max-width:800px)')
            source(srcset='assets/images/illustration--large.png')
            img.u-block.t-home--hero-img(src='assets/images/illustration--small.jpg', alt='Skull and snake collage')
            h1.u-margin-bottom-lg Ben Groulx is a #[span(style='text-decoration:line-through;') user interface] designer.

        section.u-margin-bottom-massive
            div.c-text-content.u-measure-wide
                +button('mailto:ben@bengroulx.com', 'Email')
                +button('https://m.me/bengroulx', 'Messenger')
                +button('https://linkedin.com/in/bengroulx', 'LinkedIn')
                +button('https://twitter.com/bengroulx', 'Twitter')
                +button('https://github.com/bengroulx', 'GitHub')
                +button('https://instagram.com/bengroulx', 'Instagram')
                +button('https://vsco.co/bengroulx', 'VSCO')
                +button('https://medium.com/@bengroulx', 'Medium')
                +button('https://open.spotify.com/user/bengroulx', 'Spotify')

script.
    var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-margin-bottom-massive
    div.u-width-half
        div.c-text-content.u-text-medium.u-measure-medium
            p 👋 Hey there, my name is Ben. 
            p I hope your #[script document.write(weekdays[new Date().getDay()]);] #[noscript day] is going well! I’m a Vancouver-based designer focusing on the intersection of interaction design and graphic design. Most recently I’ve been focusing on design systems, front-end architecture, and #[span.u-text-nowrap feedback processes.]
            p I’ve had the pleasure of working on some great projects; let me show you a couple!


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-bg-pureBlack.u-color-pureWhite.u-context.c-project
    article.u-flexbox.u-z-stack.u-context
        div.u-width-half
            div.c-text-content
                h2 Lancôme
                h3.u-margin-bottom-lg.u-text-secondary.u-text-size-base.u-text-tracked-out.u-text-bold.u-uppercase Progressive Web App
                ul.u-margin-left-md
                    li 57% increase in iOS sessions, 14% increase in revenue 
                    li Mobile Commerce Award - #[em Internet Retailer Excellence Awards]
                    li Google #[span.u-text-secondary I/O] 2017: featured product during main event
        div.u-width-half.u-flexbox.u-align-end.u-justify-end
            a.c-button(href='#')
                svg.c-button__outline(xmlns='http://www.w3.org/2000/svg')
                    rect.c-button__stroke
                div.c-button__text More
    div.c-project__image.u-position.u-cover.u-z-basic(style='background-image:url("assets/images/lancome.jpg");')


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-color-pureWhite.u-context.c-project(style='background-color:#212738;')
    article.u-flexbox.u-z-stack.u-context
        div.u-width-half
            div.c-text-content.u-z-stack.u-context
                h2 blanc ink
                h3.u-margin-bottom-lg.u-text-secondary.u-text-size-base.u-text-tracked-out.u-text-bold.u-uppercase Brand Research • Product MVP 
                p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
                    | #[br]
                    | #[em — Andrew Shields, Founder]
        div.u-width-half.u-flexbox.u-align-end.u-justify-end
            a.c-button(href='#')
                svg.c-button__outline(xmlns='http://www.w3.org/2000/svg')
                    rect.c-button__stroke
                div.c-button__text More
    div.c-project__image.u-position.u-cover.u-z-basic(style='background-image:url("assets/images/blanc-ink.jpg");')


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-margin-bottom-massive.u-color-pureWhite.u-context.c-project(style='background-color:#212738;')
    article.u-flexbox.u-z-stack.u-context
        div.u-width-half
            div.c-text-content.u-z-stack.u-context
                h2 blanc ink
                h3.u-margin-bottom-lg.u-text-secondary.u-text-size-base.u-text-tracked-out.u-text-bold.u-uppercase Brand Research • Product MVP 
                p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
                    | #[br]
                    | #[em — Andrew Shields, Founder]
        div.u-width-half.u-flexbox.u-align-end.u-justify-end
            a.c-button(href='#')
                svg.c-button__outline(xmlns='http://www.w3.org/2000/svg')
                    rect.c-button__stroke
                div.c-button__text More
    div.c-project__image.u-position.u-cover.u-z-basic(style='background-image:url("assets/images/.jpg");')


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-margin-bottom-massive
    div.u-flexbox.u-align-center
        


    div.u-flexbox.u-align-center
        
        div.u-width-1of3.u-context.u-clip.u-bg-pureBlack(style='height:0; padding-bottom:calc(55% / 3); margin-left:20%;')
            img.u-position.u-top-halfway.u-left-halfway.u-center.u-z-stack.u-width-half(src='assets/images/logo-house-house.png')
            video#main-video.u-position.u-top-0.u-left-0.u-width-full.u-bg-cover.u-half-transparent(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop', poster='')
                source(src='assets/videos/house-house.mp4', type='video/mp4')
                track(kind='captions', default='default')


section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-margin-bottom-massive(style='background-color:red;')
    div.u-width-half
        div.c-text-content.u-text-medium.u-measure-medium
            p Interested in seeing more of my work?

section.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-xl.u-padding-right-xl.u-margin-bottom-massive
    div.u-width-half
        div.c-text-content.u-text-medium.u-measure-medium
            p I’d love for us to #[a.u-text-nowrap(href='/hello') say hello] and for me to show you my #[a.u-text-nowrap(href='/hello') work ⚡️]. You can #[a.u-text-nowrap(href='https://house-house.design!') hire me 💸] to help you with art direction, UI design, and web development 😎.
