// Template: Home
// ============================================================================

.t-home--hero-img {
    width: 100%;
    max-width: none;
}

.t-home--section {
    margin-bottom: 20%;

    @media all and (min-width: 40rem) {
        & {
            margin-bottom: 10%;
        }
    }
}
