doctype
html(lang='en-ca')

    head
        include includes/partials/_head

    body.no-js
        
        div(hidden)
            include includes/partials/_spritesheet
        include includes/partials/_header
        include includes/partials/_main
        include includes/partials/_footer
