// Utilities: Display
// ============================================================================


// Display
// ---

.u-block {
    display: block;

    @include --small-up {
        &--small-up {
            display: block;
        }
    }
}

.u-inline-block {
    display: inline-block;

    @include --small-up {
        &--small-up {
            display: inline-block;
        }
    }
}

.u-hide {
    display: none;

    @include --small-up {
        &--small-up {
            display: none;
        }
    }

    @include --small-only {
        &--small-only {
            display: none;
        }
    }
}

.u-clip {
    overflow: hidden;
}


// Fluid Sizes
// ---

$dimensions-map: (
    full: var(--size-full),
    3of4: var(--size-3of4),
    2of3: var(--size-2of3),
    half: var(--size-half),
    1of3: var(--size-1of3),
    1of4: var(--size-1of4),
    0: var(--size-0),
);

@each $dimensions-name, $dimensions-value in $dimensions-map {
    .u-width-#{$dimensions-name} {
        width: $dimensions-value;

        @include --small-up {
            &--small-up {
                width: $dimensions-value;
            }
        }

        @include --medium-up {
            &--medium-up {
                width: $dimensions-value;
            }
        }

        @include --large-up {
            &--large-up {
                width: $dimensions-value;
            }
        }
    }
}

.u-height-full {
    height: var(--size-full);
}

.u-height-0 {
    height: var(--size-0);
}

// @each $dimensions-name, $dimensions-value in $dimensions-map {
//     .u-height-#{$dimensions-name} {
//         height: $dimensions-value;
//     }
// }


// Visibility
// ---

.u-visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
}
