// Component: Button
// ===

.c-button {
    display: inline-flex;
    align-items: center;
    padding: 0 ($base-unit * 4);
    border: 1px solid currentColor;

    border-radius: 0.125em;
    outline: none;

    color: inherit;
    font-family: $base-font-family;
    font-weight: $bold-font-weight;
    font-size: 0.9em;
    line-height: 1;

    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    cursor: pointer;

    appearance: none;

    &:hover {
        border-radius: 2em;
    }

    &:active {
        opacity: 0.5;
    }

    &:not(.c--small) {
        min-height: $base-tap-size;
    }

    &.c--small {
        min-height: $small-tap-size;
    }
}
