// Component: Card
// ===


// Component Variables
// ---

$small-card-spacing: $spacing-unit / 2;
$base-card-spacing: $spacing-unit;
$large-card-spacing: $spacing-unit * 2;


// Card Root
// ---

.c-card {
    position: relative;
    z-index: 1;

    padding-top: $base-card-spacing;
    padding-right: $base-card-spacing;
}


// Card Image
// ---

.c-card__image {
    margin: 0;
}


// Card Content
// ---

.c-card__content {
    padding: $small-card-spacing;

    background-color: $neutral-10;
    box-shadow: $large-shadow;

    color: $neutral-90;

    @include media-query($charmeleon) {
        padding: $base-card-spacing;
    }

    .c--large-padding & {

        @include media-query($charmeleon) {
            padding: $large-card-spacing;
        }
    }
}


// Card Peek
// ---

.c-card__peek {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $base-card-spacing;
    left: $base-card-spacing;
    z-index: -1;

    background-color: $neutral-30;
    background-size: cover;
}
