// Component: Contain
// ===
//
// A `c-container` is an element designed to contain page elements to a reasonable
// maximum width based on the size of a user's screen. This is useful to couple
// with other UI elements like grid or menu to restrict their width to a reason-
// able size for display. It is based on the Semantic UI `container` component.

.c-container {
    @extend %clearfix;

    width: 100%;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;

    @include media-query($charmeleon) {
        // max-width: calc(#{$content-width} - (#{$spacing-unit}));
    }

    &.c--small {
        max-width: $charmander;
    }

    &.c--large {
        max-width: $charizard;
    }
}
