// Cover Image
// ==
//
// The `.c-cover-image` component will

.c-cover-image {
    margin: 0;
    padding: 0;

    opacity: 0.55;

    background-position: center center;
    background-size: cover;
}
