// Fact List
// ===

.c-fact-list {
    display: table;
    width: 100%;
    margin-bottom: $spacing-unit;
    padding: ($spacing-unit / 4) ($spacing-unit / 2);
    border: 2px solid $neutral-90;

    font-size: 0.75em;

    @include media-query($charizard) {
        padding: ($spacing-unit / 2) ($spacing-unit);
    }

    @include media-query($charizard) {
        float: left;

        max-width: $charmander;
        margin-right: $spacing-unit;
        margin-left: -($charmander / 3);

        transform: translate(0, ($base-unit * 2));
    }
}

.c-fact-list__item {
    display: table-row;
}

.c-fact-list__term,
.c-fact-list__definition {
    display: table-cell;
    padding: ($spacing-unit / 4) 0;

    text-align: left;

    vertical-align: middle;;
}

.c-fact-list__term {
    overflow: hidden;

    font-family: $headline-font-family;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    white-space: nowrap;
    text-transform: uppercase;

    &::after {
        content: '';

        display: inline-block;
        width: 100%;
        height: 1px;
        margin-bottom: ($spacing-unit / 16);
        margin-left: ($spacing-unit / 8);

        border-bottom: 1px dotted currentColor;

        @include media-query($charmander) {
            margin-bottom: ($spacing-unit / 8);
            margin-left: ($spacing-unit / 4);
        }
    }
}

.c-fact-list__definition {
    padding-left: ($spacing-unit / 8);

    @include media-query($charmander) {
        padding-left: ($spacing-unit / 4);
    }
}
