// Grid
// ===
//
// Provides a framework for laying out items in a regular grid.


// Grid root
// ---

.c-grid {
    &::before,
    &::after {
        content: '';

        display: table;
    }

    &::after {
        clear: both;
    }
}


// Combined modifier: Horizontal and vertical gutters
// ---
//
// 1. Prevent horizontal gutters from creating extra space above the top row by
//    pulling the grid up. Applying the negative margin using generated content
//    frees us to apply spacing utils to the grid without breaking.
// 2. Offset the outter container's position due to extra gutter spaces.

.c-grid.c--gutters {
    margin-right: -$base-unit*2; // 2
    margin-left: -$base-unit*2; // 2

    &::before {
        margin-top: -$base-unit*2; // 1
    }

    > .c-grid__span {
        padding: $base-unit*8 ($base-unit*2) 0;
    }
}


// Grid Item
// ---

.c-grid__span {
    float: left;

    display: block;
    box-sizing: border-box;
    width: 100%;
}

@include media-query($charizard) {
    @for $n from 2 through 6 {
        .c-grid.c--#{$n}up .c-grid__span {
            width: (100%/($n));

            &:nth-of-type(#{$n}n+1) {
                clear: both;
            }
        }
    }
}
