// Component: Icon
// ===

.c-icon {
    display: inline-flex;

    color: inherit;

    > svg {
        display: inline-block;

        color: inherit;
        vertical-align: middle;

        fill: currentColor;
    }

    &.c--small {
        > svg {
            width: $base-unit * 4;
            height: $base-unit * 4;
        }
    }

    &.c--medium {
        > svg {
            width: $base-unit * 6;
            height: $base-unit * 6;
        }
    }

    &.c--large {
        > svg {
            width: $base-unit * 8;
            height: $base-unit * 8;
        }
    }

    &.c--very-large {
        > svg {
            width: $base-unit * 16;
            height: $base-unit * 16;
        }
    }

}
