// Component: Icon
// ===

.c-icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;

        vertical-align: middle;

        path {
            fill: $neutral-50;
        }
    }
}

svg {
    max-width: 16px;
}
