// Images
// ===

.c-image {
    margin: 0;
    padding: 0;
}


// Image: Cover
// ---

.c-image.c--cover {
    background-position: center center;
    background-size: cover;
}


// Image: Faded
// ---

.c-image.c--faded {
    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        background-image: linear-gradient(rgba($neutral-90, 0.5), rgba($neutral-90, 0.8));
    }
}


// Image: Full Width
// ---

$image-full-width: 100vw;
$image-half-width: ($image-full-width / 2);

.c-image.c--full-width {
    position: relative;
    left: calc(-#{$image-half-width} + 50%);

    width: $image-full-width;

    img {
        width: 100%;
        max-width: $base-unit * 350;
        margin: 0 auto;
    }
}
