// Component: Segment
// ===
//
// A `c-segment` is used to create a grouping of related content. It is based
// on the Semantic UI `segment` component.


// Component Variables
// ---

$small-segment-padding: $spacing-unit / 2;
$base-segment-padding: $spacing-unit;
$large-segment-padding: $spacing-unit * 2;


// Set Text Colour
// ---
//
// Here we've used the Sass lightness() function to determine which color is
// more appropriate for a background. The lightness() function is a built-in
// Sass function that returns the lightness of a color's RGB value between 0
// and 100. Where 0 is the darkest and 100 the lightest.
//
// http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass

@function set-text-color($color) {
    @if (lightness($color) > 60) {
        @return $neutral-90;
    } @else {
        @return $neutral-10;
    }
}


// Segment Root
// ---
//
// 1. For absolute positioned elements contained within.

.c-segment {
    position: relative; // 1

    padding-right: $small-segment-padding;
    padding-left: $small-segment-padding;


    // Padding Modifications
    // ---

    &:not(.c--no-padding) {
        padding-top: $base-segment-padding;
        padding-bottom: $base-segment-padding;

        @include media-query($charmeleon) {
            padding-top: $large-segment-padding;
            padding-bottom: $large-segment-padding;
        }
    }

    &.c--extra-padding-top {
        padding-top: $large-segment-padding * 2;

        @include media-query($charmeleon) {
            padding-top: $large-segment-padding * 3;
        }
    }

    &.c--extra-padding-bottom {
        padding-bottom: $large-segment-padding * 2;

        @include media-query($charmeleon) {
            padding-bottom: $large-segment-padding * 3;
        }
    }


    // Colour Variations
    // ---

    &.c--black {
        background-color: $neutral-90;

        color: set-text-color($neutral-90);
    }

    &.c--white {
        background-color: $neutral-10;

        color: set-text-color($neutral-10);
    }

    &.c--bayoux {
        background-color: $bayoux;

        color: set-text-color($bayoux);
    }

    &.c--heather {
        background-color: $heather;

        color: set-text-color($heather);
    }

    &.c--emperor {
        background-color: $emperor;

        color: set-text-color($emperor);
    }

    &.c--chambray {
        background-color: $chambray;

        color: set-text-color($chambray);
    }

    &.c--carousel {
        background-color: $carousel;

        color: set-text-color($carousel);
    }

    &.c--lemongrass {
        background-color: $lemongrass;

        color: set-text-color($lemongrass);
    }
}


// Segment Overlay / Underlay
// ---
//
// This image covers the entire c-segment; it is initially not viewable, but
// when hovered over it animates into position.

.c-segment__overlay {
    position: relative;
    z-index: 1;
}

.c-segment__underlay {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    opacity: 0.1;

    transform: translate(0, -50%) scale(1.2);

    transition: all 0.35s ease-out;

    pointer-events: none;

    -webkit-filter: grayscale(100%);

    .c-segment:hover & {
        opacity: 0.2;

        transform: translate(0, -50%) scale(1);

        -webkit-filter: grayscale(0%);
    }
}
