// Component: Text Content
// ===
//
// A `c-segment` component styles tag elements in a way that matches their com-
// ponent equivalent in the absence of any component classes, or styles tags to
// have appropriate levels of margins that they would otherwise be lacking.
// Think of the `c-text-content` component as a way of creating a designated
// WYSIWYG zone.


// Component Variables
// ---

$small-text-content-spacing: $spacing-unit / 2;
$large-text-content-spacing: $spacing-unit;


// Text Content Root
// ---

.c-text-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    ul,
    ol,
    dl,
    figure {
        @extend %vertical-rhythm; // 1
    }

    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6 {
        margin-top: 2em;
    }

    ul,
    ol {
        margin-left: $spacing-unit / 2;
    }

    li {
        > ul,
        > ol {
            margin-bottom: 0;
        }
    }

    a:not(.c-button) {
        display: inline;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $lemongrass;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    blockquote,
    hr {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
