// Component: Button
// ============================================================================
//
// The button component class is to be used for primary and secondary actions.
// It should only ever be applied to a <button> or <a> element.
//
// 1. Recommended iOS tap size.
// 2. Remove iOS and Android “buttonization” and use our own styles

.c-button {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    padding: 1em 2em;

    font-family: var(--font-main);
    font-weight: var(--text-bold);
    font-size: 0.75em;
    line-height: var(--leading-tight);
    letter-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;

    transition: all 0.5s var(--whoosh);

    cursor: pointer;

    @include --small-up {
        &:hover {
            background: none;

            color: inherit;
        }
    }

    @include --small-up {
        &--trigger:hover {

            .c-button {
                color: var(--white-100);
            }

            .c-button__stroke {
                animation: draw 1s var(--whoosh) forwards;
            }
        }
    }

    &__outline,
    &__stroke {
        width: 100%;
        height: 100%;
    }

    &__outline {
        position: absolute;
    }

    &__stroke {
        fill: transparent;
        stroke-dasharray: 140 540;
        stroke-dashoffset: -540;
        stroke-width: map-get($size-map, xs);
        stroke: currentColor;
    }
}

@keyframes draw {
    to {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
    }
}
