// Component: Highlight
// ============================================================================

.c-highlight {
     position: relative;

     display: inline-block;

     &::before {
          content: '';

          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: -1;

          border: 1px solid rgba(254, 226, 121, 0.15);

          background: rgba(254, 226, 121, 0.25);
          border-radius: 0.25em 0.5em 0.25em 0.5em;
     }
}
