---
layout: default
---

<header class="c-segment" data-ui-component="page-header">
    <div class="c-container">
        <h1 data-ui-component="page-title">{{ page.title }}</h1>
    </div>
</header>

<section class="u-large-box-shadow" data-ui-component="page-intro">
    <div class="c-arrange c--break-small">
        <div class="c-arrange__item c-segment c--chambray">
            <div class="c-text-content">
                <h3>Hear Me</h3>
                <p>I offer reactions, not answers. An answer implies there is but one constant result, which simply cannot provide a successful design outcome. There is no “perfect,” just “better.” I offer reactions; reactions with insight into how <span class="strike">users</span> your specific audience can make better use of your digital products and services.</p>

                <h3>Trust Me</h3>
                <p>Success requires faith. You have hired — or are looking to hire — an individual or organization to help create or improve your product. You are spending money, sometimes a lot, on evaluation, strategy, time, and resources that you cannot provide yourself. Trust the given expertise, and thoroughly take the recommendations into consideration. The initial desire does not often match the necessary conclusion, the one that helps.</p>

                <h3>Pay Me</h3>
                <p>Good design is not guessing, nor can it be done in twenty-two minutes. It involves considered approach and examined refinement to achieve success. Your product’s future requires investment; the design I do, and the work involved in it, provides tremendous insight. Your product will be *better*, and that in itself is a matter containing immense value and worth.</p>
            </div>
        </div>
        <div class="c-arrange__item">
            <div class="c-arrange c--column">
                <div class="c-arrange__item c-segment c--emperor">
                    <div class="c-container">
                        <div class="c-image c--cover c--faded c-ratio__item" data-ui-component="mobify-image" style="background-image:url('/assets/images/mobify.jpg')"></div>
                        <div class="c-text-content u-text-shadow u-index-1 u-index-relative">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis facere pariatur dolorum, beatae maiores aliquid quod dolorem itaque, iure et nesciunt quaerat eos. Velit tenetur quis, ad distinctio dolorem vero.</p>
                            <a class="c-button" data-ui-component="mobify-button" aria-role="button" href="#">
                                Find our more about Mobify &rarr;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="c-arrange__item c-segment c--bayoux">
                    <div class="c-container">
                        <div class="c-image c--cover c--faded c-ratio__item" data-ui-component="bitchpop-image" style="background-image:url('/assets/images/mobify.jpg')"></div>
                        <div class="c-text-content u-text-shadow u-index-1 u-index-relative">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis facere pariatur dolorum, beatae maiores aliquid quod dolorem itaque, iure et nesciunt quaerat eos. Velit tenetur quis, ad distinctio dolorem vero.</p>
                            <a class="c-button" data-ui-component="bitchpop-button" aria-role="button" href="#">
                                Find our more about Bitchpop &rarr;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="c-segment" data-ui-component="page-content">
    <div class="c-container">
        <div class="c-text-content" data-ui-component="page-content">
            {{ content }}
        </div>
    </div>
</section>
