---
layout: default
---

<section class="" data-ui-component="page-intro">
    <div class="c-arrange c--break-small">

        <div class="c-arrange__item c-segment c--chambray c--extra-padding-top c--extra-padding-bottom c-faux-link u-text-align-center">
            <span data-ui-component="icon" class="c-icon c--very-large c--messenger">{% include messenger.svg %}</span>
            <h3 data-ui-component="label" class="">bengroulx</h3>
            <a class="c-faux-link__overlay" data-ui-component="post-link" href="https://m.me/bengroulx">Facebook Messenger</a>
        </div>
        <div class="c-arrange__item c-segment c--emperor c--extra-padding-top c--extra-padding-bottom c-faux-link c-faux-link u-text-align-center">
            <span data-ui-component="icon" class="c-icon c--very-large c--email">{% include email.svg %}</span>
            <h3 data-ui-component="label" class="">ben@bengroulx.com</h3>
            <a class="c-faux-link__overlay" data-ui-component="post-link" href="mailto:ben@bengroulx.com">Facebook Messenger</a>
        </div>
        <div class="c-arrange__item c-segment c--bayoux c--extra-padding-top c--extra-padding-bottom c-faux-link c-faux-link u-text-align-center">
            <span data-ui-component="icon" class="c-icon c--very-large c--twitter">{% include icon-twitter.svg %}</span>
            <h3 data-ui-component="label" class="">@bengroulx</h3>
            <a class="c-faux-link__overlay" data-ui-component="post-link" href="https://twitter.com/@bengroulx">Twitter</a>
        </div>

    </div>
</section>

<div hidden>
    {{ content }}
</div>
