<!DOCTYPE html>
<html>

    {% include head.html %}

    {% capture layout %}{% if page.layout %}t-{{ page.layout }}{% endif %}{% endcapture %}

    <body class="{{ layout }}">

        {% include header.html %}

        <main class="x-main js-fade-in" data-ui-component="page-content" role="main">
            {{ content }}
        </main>

        {% include footer.html %}

        <style>
            {% capture non_critical_styles %}{% include screen.scss %}{% endcapture %}{{ non_critical_styles | scssify }}
        </style>

    </body>

</html>
