---
layout: default
---

<article class="t-home--article">
    <div class="c-text-content u-measure-medium">
        <h1>Ben Groulx is a user interface designer.</h1>
        <p>Hey there 👋. I’m Ben, a Vancouver-based UI designer 💯 focused on the intersection of interaction and graphic design, with experience in design systems 🔗, front-end architecture 🖥, and feedback processes 💬.</p>
        <p>With <a href="http://mobify.com/">Mobify</a> 📱 I design and implement functional mobile experiences for global ecommerce brands; With <a href="http://house-house.design">House House</a> ✍🏼 I design accessible and sophisticated screen, print, and motion products; With <a href="http://bitchpopproductions.com/">Bitchpop Productions</a> 💁🏻 I help create, promote, and uplift female-driven short films and webseries.</p> <p>I’d love to to chat and/or work with you 💖. You can <a href="mailto:ben@bengroulx.com?subject=I%20would%20like%20to%20hire%20you!">hire me</a> 💸 to help you with art direction, UI design, and web development 😎.</p>
        <hr>
        <h3>Get In Touch</h3>
        <p>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="mailto:ben@bengroulx.com">Email</a>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://m.me/bengroulx">Messenger</a>
        </p>
        <hr>
        <h3>Follow</h3>
        <p>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://twitter.com/bengroulx">Twitter</a>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://linkedin.com/in/bengroulx">LinkedIn</a>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://github.com/bengroulx">GitHub</a>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://instagram.com/bengroulx">Instagram</a>
            <a class="c-button u-rounded-corners u-border-primary u-padding-left-sm u-padding-top-sm u-padding-bottom-sm u-padding-right-sm" href="https://vsco.co/bengroulx">VSCO</a>
        </p>
    </div>
</article>
