---
layout: default
---

<article class="" data-ui-component="post" itemscope itemtype="http://schema.org/BlogPosting">

    <section class="c-arrange c--break-at-medium">

        <div class="c-arrange__item c-segment c--{{ page.colour }} c--no-padding c-ratio u-hidden-till-large" role="presentation">
            <div class="c-cover-image c-ratio__item" data-ui-component="post-image" style="background-image:url('{{ page.image }}')"></div>
            <p class="u-visually-hidden" data-ui-component="post-summary">{{ page.description }}</p>
        </div>

        <div class="c-arrange__item c-segment c--bayoux c--extra-padding-top">
            <header class="c-text-content" data-ui-component="post-header">
                <h1 data-ui-component="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p data-ui-component="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: "%-d %B %Y" }}
                    </time>
                    {% if page.author %} •
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ page.author }}</span>
                        </span>
                    {% endif %}
                </p>
            </header>
        </div>

    </section>

    <section class="c-segment">
        <div class="c-contain c-text-content" data-ui-component="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </section
    >
</article>
