---
layout: default
---

<header class="c-segment" data-ui-component="page-header">
    <div class="c-container">
        <h1 data-ui-component="page-title">{{ page.title }}</h1>
    </div>
</header>

<section class="c-segment" data-ui-component="page-content">
    <div class="c-container c--large">

        <ul class="c-grid c--2up c--gutters" data-ui-component="post-list">
            {% for post in site.categories['articles'] %}
                <li class="c-grid__span">
                    <article class="c-card c-faux-link">
                        <div class="c-card__content c-text-content">
                            <h2 data-ui-component="post-title">{{ post.title }}</h2>
                            <p class="u-text-small u-text-uppercase u-text-tracked-out-loose" data-ui-component="post-meta">
                                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                                    {{ post.date | date: "%-d %B %Y" }}
                                </time>
                            </p>
                            <p data-ui-component="post-summary">{{ post.description }}</p>
                        </div>
                        <div class="c-card__peek" data-ui-component="post-image" style="background-image:url('{{ post.image }}')">
                        </div>
                        <div class="c-card__auxilliary">
                            <a class="c-faux-link__overlay" data-ui-component="post-link" href="{{ post.url | prepend: site.baseurl }}">Read this article</a>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>

    </div>
</section>

<section class="c-segment u-text-align-center">

    <h2>Wanting More?</h2>

    <div class="c-arrange c--justify-center">
        <div class="c-arrange__item c--shrink u-margin-all-small">
            <a class="c-button" href="{{ '/feed.xml' | prepend: site.baseurl }}" data-ui-component="rss-subscribe-button" aria-role="button">
                <span data-ui-component="icon" class="c-icon c--small c--rss u-margin-end-small">
                    {% include icon-rss.svg %}
                </span>
                <span data-ui-component="label" class="">Subscribe via RSS</span>
            </a>
        </div>
        <div class="c-arrange__item c--shrink u-margin-all-small">
            <a class="c-button" href="https://twitter.com/{{ site.username }}" data-ui-component="twitter-button" aria-role="button">
                <span data-ui-component="icon" class="c-icon c--small c--twitter u-margin-end-small">
                    {% include icon-twitter.svg %}
                </span>
                <span data-ui-component="label" class="">Follow on Twitter</span>
            </a>
        </div>
    </div>

</section>
