---
layout: default
---

<article class="" data-ui-component="post" itemscope itemtype="http://schema.org/BlogPosting">

    <section class="c-segment c--no-horizontal-padding c--extra-padding-top c-arrange c--break-at-medium">

        <div class="c-arrange__item c-segment c--extra-padding-top c--extra-padding-bottom">
            <header class="c-text-content u-text-align-center" data-ui-component="post-header">
                <h1 data-ui-component="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p class="u-text-small u-text-uppercase u-text-tracked-out-loose" data-ui-component="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: "%-d %B %Y" }}
                    </time>
                    {% if page.author %} •
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ page.author }}</span>
                        </span>
                    {% endif %}
                </p>
            </header>
        </div>

        <div class="c-arrange__item c-segment c--no-vertical-padding c-ratio u-large-box-shadow u-background-grey" role="presentation">
            <div class="c-image c-ratio__item u-background-cover" data-ui-component="post-image" style="background-image:url('{{ page.image }}')"></div>
            <p class="u-visually-hidden" data-ui-component="post-summary">{{ page.description }}</p>
        </div>

    </section>

    <section class="c-segment">
        <div class="c-container c-text-content" data-ui-component="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </section>

</article>

<section class="c-segment c--extra-padding-top c--extra-padding-bottom">
    <div class="c-container c-text-content u-text-align-center">
        <h2><em>Feel like reading a bit more?</em></h2>
        <a class="c-button" href="{{ '/articles' | prepend: site.baseurl }}" data-ui-component="more-articles-button" aria-role="button">View more articles &rarr;</a>
    </div>
</section>
