---
layout: default
---

<header class="c-segment" data-ui-component="page-header">
    <div class="c-container">
        <h1 data-ui-component="project-title">{{ page.title }}</h1>
    </div>
</header>

<section class="c-segment" data-ui-component="project-content">
    <div class="c-container">

        <table class="c-fact-list" data-ui-component="project-facts">
            <tr class="c-fact-list__item">
                <th class="c-fact-list__term" scope="row" rowspan="1"><small>Type</small></th>
                <td class="c-fact-list__definition">{{ page.type }}</td>
            </tr>
            <tr class="c-fact-list__item">
                <th class="c-fact-list__term" scope="row" rowspan="1"><small>Duration</small></th>
                <td class="c-fact-list__definition">{{ page.duration }}</td>
            </tr>
            <tr class="c-fact-list__item">
                <th class="c-fact-list__term" scope="row" rowspan="1"><small>Team</small></th>
                <td class="c-fact-list__definition">{{ page.team }}</td>
            </tr>
            <tr class="c-fact-list__item">
                <th class="c-fact-list__term" scope="row" rowspan="1"><small>Website</small></th>
                <td class="c-fact-list__definition"><a href="http://{{ page.website }}">{{ page.website }}</a></td>
            </tr>
        </table>

        <div class="c-text-content" data-ui-component="project-content">
            {{ content }}
        </div>
    </div>
</section>

<section class="c-arrange" data-ui-component="project-more-info">
    <div class="c-arrange__item c-segment c--heather">
        <div class="c-text-content" data-ui-component="project-services">
            <h3>What my role entailed</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae corporis reiciendis illo qui veritatis sit quibusdam, magnam maxime quaerat doloremque consectetur repudiandae obcaecati beatae dolores deleniti explicabo eaque nostrum minus.</p>
        </div>
    </div>
    <div class="c-arrange__item c-segment c--carousel">
        <div class="c-text-content" data-ui-component="project-contact">
            <h3>Get more details</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem totam, vel ad illum, mollitia est possimus at aut magnam magni architecto ratione quos, corporis incidunt cumque deserunt et ex nulla.</p>
            <a class="c-button" href="{{ '/contact' | prepend: site.baseurl }}" data-ui-component="contact-button" aria-role="button">Get in touch &rarr;</a>
        </div>
    </div>
</section>

<section class="c-segment c--extra-padding-top c--extra-padding-bottom">
    <div class="c-container c-text-content u-text-align-center">
        <h2><em>Wanting to see more?</em></h2>
        <a class="c-button" href="{{ '/projects' | prepend: site.baseurl }}" data-ui-component="more-projects-button" aria-role="button">View more projects &rarr;</a>
    </div>
</section>
