//- Components
include includes/components/_article
include includes/components/_button
include includes/components/_faux-link
include includes/components/_project--large
include includes/components/_project--small

//- Sections
include includes/sections/_intro
include includes/sections/_projects-1
include includes/sections/_work
include includes/sections/_projects-2
include includes/sections/_creative
include includes/sections/_projects-3
include includes/sections/_contact
