// Extends
// ===
//
// Use this file to make placeholder extends.


// Vertical Rhythm
// ---

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


// Full-Width Fixed Elements
// ---

%fixed-full-width {
    position: fixed;
    right: 0;
    left: 0;
}


// Position: Cover
// ---

%position-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// Clearfix
// ---

%clearfix {
    &:after {
        content: '';

        clear: both;

        display: table;
    }
}
