// General
// ===


// Basic Styling
// ---

body {
    margin: 0 auto;

    background-color: $base-background;

    color: $base-text;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: $base-line-height;
    letter-spacing: 0.0125em;
    text-size-adjust: 100%;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;

    @include media-query($charmander) {
        font-size: 4vw;
    }

    @include media-query(35em) {
        font-size: 1.15rem;
    }

    @include media-query($charmeleon) {
        border: solid $neutral-10;
        border-width: 4em 1em 1em;

        box-shadow: inset 0 0 0 1em $neutral-10, inset 0 0 0 3em rgba($neutral-30, 0.5);
    }
}


// Images
// ---

img {
    max-width: 100%;
    margin: auto;

    vertical-align: middle;

    figure > & {
        display: block;
        margin: 0 auto !important;

        + figcaption {
            margin-top: $base-unit;
        }
    }
}

figcaption {
    font-family: $headline-font-family;
    font-size: $small-font-size;
}


// Horizontal Rules
// ---

hr {
    height: 1px;
    border: 0;

    background: $neutral-30;
}
