// General
// ===


// Basic Styling
// ---

body {
    background-color: $base-background;

    color: $base-text;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: $base-line-height;
    text-size-adjust: 100%;

    font-feature-settings: 'kern' 1;
    font-kerning: normal;

    @include media-query($charmander) {
        line-height: $base-line-height * 1.09375;
    }

    @include media-query($charmeleon) {
        font-size: 1.15rem;
        line-height: $base-line-height * 1.25;
    }
}


// Images
// ---

img {
    max-width: 100%;

    vertical-align: middle;

    figure > & {
        display: block;
    }
}

figcaption {
    font-size: $small-font-size;
}


// Horizontal Rules
// ---

hr {
    height: 1px;
    border: 0;

    background: $neutral-30;
}
