// Normalize
// ===
//
// v4.1.1 | MIT License | github.com/necolas/normalize.css

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template,
[hidden] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
    margin-top: 0;
    // adjust margin-bottom in _typography.scss
}

a {
    background-color: transparent;

    -webkit-text-decoration-skip: objects;

    &:active,
    &:hover {
        outline-width: 0;
    }
}

abbr[title] {
    border-bottom: 0;

    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    background-color: $carousel;

    color: $base-text;
}

small {
    font-size: 80%;
    letter-spacing: 0.05em;
}

sub,
sup {
    position: relative;

    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin-right: 0;
    margin-left: 0;

    text-align: center;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;

    font: inherit;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type='reset']:-moz-focusring,
[type='button']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid $neutral-50;
}

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    color: inherit;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;

    outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    opacity: 0.55;

    color: inherit;
}

::-webkit-file-upload-button {
    font: inherit;

    -webkit-appearance: button;
}
