// Typography
// ===


// Headings
// ---

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-family: $headline-font-family;
    font-weight: $bold-font-weight;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: $very-large-font-size;
    letter-spacing: -0.0125em;
}

h2 {
    font-size: $large-font-size;
}

h3 {
    font-style: italic;
    font-size: $base-font-size * 1.15;
}

h4,
h5,
h6 {
    font-size: $base-font-size;
}


// Lists
// ---

ul,
ol,
li {
    margin: 0;
    padding: 0;
}


// Links
// ---

a {
    position: relative;

    color: inherit;
    text-decoration: none;

    transition: all ease-out 0.1s;

    &:hover,
    &:active {
        color: $active-emphasis !important;
    }
}


// Blockquotes
// ---

blockquote {
    position: relative;

    margin-right: 0;
    margin-left: 0;
    padding-left: $spacing-unit / 2;
    border-left: $base-unit solid $neutral-30;

    color: $neutral-50;
    font-family: $headline-font-family;
    font-style: normal;
    font-size: $base-font-size;

    &:before {
        content: '“';

        position: absolute;
        top: -0.575em;
        left: 0;

        opacity: 0.1;

        font-family: $base-font-family;
        font-size: 10em;
    }

    > :last-child {
        margin-bottom: 0;
    }
}


// Code Formatting
// ---

pre,
code {
    border: 1px solid $neutral-50;

    border-radius: $base-unit / 2;
    background-color: $neutral-30;

    font-family: monospace;
    font-size: 15px;
}

code {
    padding: 1px $base-unit;
}

pre {
    overflow-x: auto;
    padding: $base-unit*2 $base-unit*3;

    > code {
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}
