// Typography
// ===


// Webfont Imports
// ---

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


// Apply Vertical Rhythm
// ---
//
// 1. Set `margin-bottom` to maintain vertical rhythm

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
    @extend %vertical-rhythm; // 1
}


// Headings
// ---

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $monospace-font-family;
    font-weight: $base-font-weight;
    line-height: 1.25;
}


// Lists
// ---

ul,
ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}


// Links
// ---

a {
    position: relative;

    display: inline-block;

    box-shadow: inset 0 (-1px) $base-emphasis;

    color: $base-emphasis;
    text-decoration: none;

    transition: all 0.075s linear;

    &:hover,
    &:active {
        box-shadow: inset 0 (-1.5em) lighten($base-emphasis, 10%);

        color: $base-text;
    }
}





// Blockquotes
// ---

blockquote {
    padding-left: $spacing-unit / 2;
    border-left: $base-unit solid $neutral-30;

    color: $neutral-50;
    font-style: italic;
    font-size: $large-font-size;
    letter-spacing: -1px;

    > :last-child {
        margin-bottom: 0;
    }
}


// Code Formatting
// ---

pre,
code {
    border: 1px solid $neutral-50;

    border-radius: $base-unit / 2;
    background-color: $neutral-30;

    font-family: monospace;
    font-size: 15px;
}

code {
    padding: 1px $base-unit;
}

pre {
    overflow-x: auto;
    padding: $base-unit*2 $base-unit*3;

    > code {
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}
