// Project-Wide Variables
// ===
//
// - Names should be lowercase and dash-separated;
// - Qualifiers should be added to the beginning of related variables: use
//   `$small-font-size`, not `$font-size-small`;
// - Numeric scales should use increments of 10; these numbers are arbitrary and
//   should not map to actual values. If really necessary, additional values can
//   be added in between, e.g. $neutral-15 between 10 and 20.


// Units
// ---

$base-unit: 0.25rem;
$spacing-unit: 2rem;


// Tap Sizes
// ---

$small-tap-size: 2rem;
$base-tap-size: 2.75rem;
$large-tap-size: 3rem;


// Font Sizes
// ---

$very-small-font-size: 0.625em;
$small-font-size: 0.75em;
$base-font-size: 1em;
$large-font-size: 1.25em;
$very-large-font-size: 1.75em;


// Font Attributes
// ---

$base-font-family: 'franklin-gothic-urw', sans-serif;
$headline-font-family: 'leitura-news', 'freight-text-pro', serif;
$base-font-weight: 400;
$base-line-height: 1.6;


// Neutral Colours
// ---

$neutral-10: #fdfdfd;
$neutral-30: #d9d9df;
$neutral-50: #7e8688;
$neutral-70: #384248;
$neutral-90: #06092a;


// Brand Colours
// ---

$bayoux: #30465c;
$carousel: #f1ced4;
$chambray: #2a3591;
$emperor: #475050;
$heather: #d2e4ef;
$lemongrass: #9c9f91;


// Element Colours
// ---

$base-text: $neutral-90;
$base-background: $neutral-10;
$base-emphasis: mix($chambray, mix($chambray, blue));
$active-emphasis: blue;


// Content Widths
// ---

$charmander: 24rem;
$charmeleon: 40rem;
$charizard:  64rem;

$content-width: $charmeleon;


// Media Queries
// ---

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}
