// Project-Wide Variables
// ===
//
// - Names should be lowercase and dash-separated;
// - Qualifiers should be added to the beginning of related variables: use
//   `$small-font-size`, not `$font-size-small`;
// - Numeric scales should use increments of 10; these numbers are arbitrary and
//   should not map to actual values. If really necessary, additional values can
//   be added in between, e.g. $neutral-15 between 10 and 20.


// Units
// ---

$base-unit: 4px;
$spacing-unit: 32px;


// Tap Sizes
// ---

$small-tap-size: 32px;
$base-tap-size: 44px;
$large-tap-size: 48px;


// Font Sizes
// ---

$very-small-font-size: 10px;
$small-font-size: 12px;
$base-font-size: 16px;
$large-font-size: 24px;
$very-large-font-size: 32px;


// Font Attributes
// ---

$base-font-family: 'PT Serif', 'Georgia', serif;
$monospace-font-family: 'Roboto Mono', monospace;
$base-font-weight: 400;
$base-line-height: 1.5;


// Neutral Colours
// ---

$neutral-10: #fdfdfd;
$neutral-30: #cdd2d5;
$neutral-50: #7e8688;
$neutral-70: #384248;
$neutral-90: #17242f;


// Brand Colours
// ---

$bayoux: #30465c;
$black: $neutral-90;
$carousel: #f1ced4;
$chambray: #2a3591;
$emperor: #475050;
$heather: #c3d8e4;
$lemongrass: #9c9f91;
$white: $neutral-10;


// Element Colours
// ---

$base-text: $neutral-90;
$base-background: $neutral-10;
$base-emphasis: $chambray;


// Content Widths
// ---

$content-width: 800px;

$on-palm: 600px;
$on-laptop: 1200px;


// Media Queries
// ---
//
// @include media-query($on-palm) {
//     .class-name {
//         ...
//     }
// }

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}
