section.u-margin-bottom-massive.u-clip

    div.u-flexbox--medium-up.u-padding-left-md.u-padding-left-lg--medium-up.u-padding-left-xl--large-up.u-padding-right-md.u-padding-right-lg--medium-up.u-padding-right-xl--large-up.u-margin-bottom-massive

        div.u-width-half--medium-up
            
            div.c-text-content.u-measure-medium.u-padding-right-lg--medium-up.u-margin-bottom-massive
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            div.u-context.c-button--trigger
                
                div.u-float-left(style='margin-left:35%;')
                    +button('VSCO', 'https://vsco.co/bengroulx')
                
                div.u-width-1of3.u-context.u-z-stack(style='background-color:#202a27; height:0; padding-bottom:50%; margin-bottom:-30%;')
                    div.u-position.u-cover.u-bg-cover.js-lazy-load(data-style='background-image:url("assets/images/work--vsco-1.png");')
                
                div.u-width-3of4.u-context.u-z-basic(style='background-color:#67534a; height:0; padding-bottom:50%; margin-left:10%; margin-bottom:-30%;')
                    div.u-position.u-cover.u-bg-cover.js-lazy-load(data-style='background-image:url("assets/images/work--vsco-2.png");')
                
                div.u-width-1of3.u-context.u-z-stack(style='background-color:#2d2223; height:0; padding-bottom:20%; margin-left:65%;')
                    div.u-position.u-cover.u-bg-cover.js-lazy-load(data-style='background-image:url("assets/images/work--vsco-3.png");')
                
                +fauxLink('VSCOcam', 'https://vsco.co/bengroulx')

        div.u-width-half--medium-up
            
            div.u-context.c-button--trigger
                div.u-width-3of4.u-context.u-z-basic(style='background-color:#016adc; height:0; padding-bottom:55%; margin-left:0%;')
                    div.u-position.u-cover.u-bg-cover.js-lazy-load(data-style='background-image:url("assets/images/work--instagram-2.jpg");')
                div.u-width-1of3.u-context.u-z-stack.u-float-right(style='background-color:#312292; height:0; padding-bottom:38%; margin-top:-30%;')
                    div.u-position.u-cover.u-bg-cover.js-lazy-load(data-style='background-image:url("assets/images/work--instagram-1.png");')
                div.u-margin-top-lg.u-margin-right-lg.u-float-right
                    +button('Instagram', 'https://www.instagram.com/bengroulx/')
                
                +fauxLink('Instagram', 'https://www.instagram.com/bengroulx/')

    div.u-padding-left-md.u-padding-right-md.u-padding-right-xl--large-up.u-margin-top-xl.u-width-half--medium-up.u-float-right.u-clip.u-context.c-button--trigger.u-width-full
        
        div.u-width-1of4.u-context.u-z-basic.u-float-left.u-margin-right-lg(style='height:0; padding-bottom:25%; background-color:#e79802;')
            div.u-position.u-cover.u-bg-cover.u-bg-center.js-lazy-load(data-style='background-image:url("assets/images/work--spotify-1.png");')
        
        div.u-width-1of4.u-context.u-z-basic.u-float-left.u-margin-right-lg(style='height:0; padding-bottom:25%; background-color:#56544f;')
            div.u-position.u-cover.u-bg-cover.u-bg-center.js-lazy-load(data-style='background-image:url("assets/images/work--spotify-2.png");')
        
        div.u-width-1of4.u-bg-cover.u-context.u-z-basic.u-float-left.u-semi-transparent(style='height:0; padding-bottom:25%; background-color:#3e5864;')
            div.u-position.u-cover.u-bg-cover.u-bg-center.js-lazy-load(data-style='background-image:url("assets/images/work--spotify-3.png");')
        
        div.u-position.u-right-0.u-margin-right-xl--medium-up.u-margin-top-lg
            +button('Spotify', 'https://open.spotify.com/user/bengroulx')
        
        +fauxLink('Spotify', 'https://open.spotify.com/user/bengroulx')

    div(style='clear:both;')
