script.
    var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];


section.u-margin-bottom-massive.u-margin-top-massive#intro
    
    div.u-padding-left-xl.u-width-half

        div.c-text-content.u-measure-medium
            p 👋 Hey there, my name is Ben.
            
            p I hope your #[script document.write(weekdays[new Date().getDay()]);] #[noscript day] is going well! I’m a Vancouver-based designer focusing on the intersection of interaction design and graphic design. Most recently I’ve been focusing on design systems, front-end architecture, and #[span.u-text-nowrap feedback processes.]
            p I’ve had the pleasure of working on some great projects; let me show you a couple!
