section.u-margin-bottom-massive

    +project('Lancôme USA', 'Progressive Web App Design', 'project--lancome.jpg', 'logo--mobify.png', '#5160a4')
        ul.u-margin-left-md                        
            li 57% increase in iOS sessions, 17% increase in transactions 
            li Mobile Commerce Award 2017: #[em Internet Retailer Excellence Awards]
            li Google I/O 2017: featured product during main event

    +project('blanc ink', 'Brand Research • Product MVP', 'project--blanc-ink.jpg', 'logo--house-house.png', '#dd5c47')
        p 
            | “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
        div.u-flexbox.u-align-middle
            div.u-circle.u-bg-grey.u-context.u-clip(style='width:2.5rem; height:2.5rem;')
                div.u-bg-cover.js-lazy-load.u-position.u-top-0.u-left-0.u-width-full.u-height-full(data-style='background-image:url("assets/images/profile--andrew-shields.jpg");')
            em.u-padding-left-md.u-text-size-small.u-leading-tight
                | Andrew Shields
                | #[br]
                | Co-Founder
