section.u-margin-bottom-massive

    +project('Babista', 'Progressive Web App Design', 'project--babista.jpg', 'logo--mobify.png', '#2c5772')
        p 
            | “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
            | #[br]
            | #[em — Andrew Shields, Founder]

    +project('housecss', 'CSS Framework', 'project--housecss.jpg', 'logo--house-house.png', '#ab4856')
        p 
            | “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
            | #[br]
            | #[em — Andrew Shields, Founder]
