section.u-margin-bottom-massive

    +project('My Best Friend the Psychopath', 'Graphic Design', 'project--mbftp.png', 'logo--bitchpop.svg', '#b77194')
        p 
            | “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
        div.u-flexbox.u-align-middle
            div.u-circle.u-bg-white.u-context.u-clip(style='width:2.5rem; height:2.5rem;')
                div.u-bg-cover.u-position.u-top-0.u-left-0.u-width-full.u-height-full.js-lazy-load(data-style='background-image:url("assets/images/profile--athena-russell.jpg");')
            em.u-padding-left-md.u-text-size-small.u-leading-tight
                | Athena Russell
                | #[br]
                | Co-Creator
    
    +project('Kost', 'Product Design', 'project--kost.jpg', 'logo--house-house.png', '#4bb1a9')
        p 
            | “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”
            | #[br]
            | #[em — dkljfkldfjdklfd, djkfjd]
