section.u-margin-bottom-massive

    div.u-padding-right-xl.u-padding-left-xl.u-margin-bottom-massive.u-clip
            
        div.u-width-half.u-float-right
            
            div.c-text-content.u-measure-medium.u-margin-bottom-massive
                p 
                    | As a #[strong(style='color:#ab4856;') designer] on Mobify’s Partners team I work with UX and UI folks from our global network to elevate their PWA designs through training, art direction, and reviews. 
                    | As a #[strong(style='color:#b77194;') filmmaker] with Bitchpop Productions I help create short films and web series that put women at the forefront. 
                    | As a #[strong(style='color:#5160a4;') co-founder] of House House I work with a wide variety of clients to deliver web and graphic design that serves purpose and function.

            div.u-width-half
                +projectSmall('Bitchpop', 'logo--bitchpop.svg', 'bitchpop.mp4', 'bitchpop.jpg', '#b77194')
                    p Bitchpop is a film production group that aims to create, promote, and uplift female-driven film and series.

        div.u-width-1of4.u-float-left
            +projectSmall('Mobify', 'logo--mobify.png', 'mobify.mp4', 'mobify.jpg', '#ab4856')
                p Mobify is a platform for creating seamless customer journeys that incorporates progressive web apps, automated web push notifications, accelerated mobile pages, and native apps.

            +projectSmall('House House', 'logo--house-house.png', 'house-house.mp4', 'house-house.jpg', '#5160a4', 'transform:translate(50%, 0); margin-top:8rem')
                p House House is a multidisciplinary design studio that collaborates with people all over the world to deliver web design, product design, graphic design, and much more.


    div.u-flexbox.u-padding-left-xl
        
        div.u-width-1of3.u-padding-right-xl
            article.c-text-content.c-button--trigger.u-context
                h4 Considering Accessibility Is a Requirement For All Designers
                
                div.u-flexbox.u-align-middle
                    img.u-inline-block.u-margin-right-md(src='assets/images/icons/medium.svg', style='height:1rem;')
                    h5.u-text-primary.u-text-size-small.u-text-tracked-out.u-text-bold.u-uppercase 09 July 2017
                p How thinking about accessibility and inclusivity makes your web and app designs better for everyone.
                div.u-align-right
                    +button('read', '#')
                +fauxLink('Considering Accessibility Is a Requirement For All Designers', '#')
        
        div.u-width-1of3.u-padding-right-xl.u-margin-top-massive
            article.c-text-content.c-button--trigger.u-context
                h4 Use a Kit of Reusable Components When Building Interfaces
                div.u-flexbox.u-align-middle
                    img.u-inline-block.u-margin-right-md(src='assets/images/icons/medium.svg', style='height:1rem;')
                    h5.u-text-primary.u-text-size-small.u-text-tracked-out.u-text-bold.u-uppercase 15 June 2017
                p How we built a tool for rapidly getting up and going on designing mobile ecommerce experiences  —  and how you can use it, too.
                div.u-align-right
                    +button('read', '#')
                +fauxLink('Use a Kit of Reusable Components When Building Interfaces', '#')
        
        div.u-width-1of3.u-padding-right-xl
            article.c-text-content.c-button--trigger.u-context(style='transform:translate(0, -50%);')
                h4 Designing for Performance In Progressive Web Apps
                div.u-flexbox.u-align-middle
                    img.u-inline-block.u-margin-right-md(src='assets/images/icons/medium.svg', style='height:1rem;')
                    h5.u-text-primary.u-text-size-small.u-text-tracked-out.u-text-bold.u-uppercase 25 March 2017
                p How we achieved a speedy PWA experience from the project get-go by incorporating performance considerations into the design process.
                div.u-align-right
                    +button('read', '#')
                +fauxLink('Designing for Performance In Progressive Web Apps', '#')
