// Utilities: Background
// ============================================================================

$bg-color-map: (
    #{black}: var(--black-100),
    #{white}: var(--white-100),
    dark-grey: var(--dark-grey-100),
    light-grey: var(--light-grey-100),
    accent: var(--accent-100),
);

@each $color-name, $color-value in $bg-color-map {
    .u-bg-#{$color-name} {
        background-color: $color-value;
    }
}

.u-bg-cover {
    background-size: cover;
}
